[package]
name = 'fio'
version = '0.1.0'
edition = '2021'

[lib]
crate-type = [ 'staticlib' ]
name = 'fio'

[dependencies]
extendr-api = '0.7.0'
faer = { version = '0.19.0', features = ['rayon'] }
rayon = '1.10.0'
num_cpus = "1.13"
